footer.main-footer
  .main-footer__container
    .main-footer__policy
      a(href="/offer.html").main-footer__policy-link Политика использования
      a(href="/politics.html").main-footer__policy-link Политика конфиденциальности

    .main-footer__development
      p.main-footer__development-text
        |Разработано в 
        
        a.main-footer__development-link(href="https://doublea.agency/")
          |Double A
    
