extends ../layout/index
include ../utils/mixins.pug

block variables
  - var title = "Соглашение на обработку данных";

block content

  section.politics#politics
    h1.politics__main-title#scrollLabelTarget Соглашение на обработку данных:

    p.politics__description 
      |Настоящим в соответствии с Федеральным законом № 152-ФЗ «О персональных
      |данных» от 27.07.2006 года Вы подтверждаете свое согласие на обработку ИП
      |Азарова Елена Юрьевна, 774318386830, персональных данных: сбор,
      |систематизацию, накопление, хранение, уточнение (обновление, изменение),
      |использование, передачу исключительно в целях продажи программного
      |обеспечения на Ваше имя, как это описано ниже, блокирование, обезличивание,
      |уничтожение. 

    p.politics__description 
      |ИП Азарова Елена Юрьевна гарантирует конфиденциальность получаемой
      |информации. Обработка персональных данных осуществляется в целях
      |эффективного исполнения заказов, договоров и иных обязательств, принятых
      |компанией ИП Азарова Елена Юрьевна в качестве обязательных к исполнению. 
    
    p.politics__description 
      |В случае необходимости предоставления Ваших персональных данных
      |правообладателю, дистрибьютору или реселлеру программного обеспечения в
      |целях регистрации программного обеспечения на ваше имя, вы даёте согласие на
      |передачу ваших персональных данных. ИП Азарова Елена Юрьевна гарантирует,
      |что правообладатель, дистрибьютор или реселлер программного обеспечения
      |осуществляет защиту персональных данных на условиях, аналогичных изложенным
      |в Политике конфиденциальности персональных данных. 

    p.politics__description 
      |Настоящее согласие распространяется на следующие Ваши персональные данные:
      |фамилия, имя и отчество, адрес электронной почты, почтовый адрес доставки
      |заказов, контактный телефон, платёжные реквизиты. 

    p.politics__description 
      |Срок действия согласия является неограниченным. Вы можете в любой момент
      |отозвать настоящее согласие, направив письменное уведомления на адрес:
      |Россия, Москва, 3-я Радиаторская, д.5, кор. 3,кв.25 с пометкой «Отзыв согласия на
      |обработку персональных данных». 

    p.politics__description 
      |Обращаем ваше внимание, что отзыв согласия на обработку персональных данных
      |влечёт за собой удаление Вашей учётной записи с Интернет-сайта 
      |(

      a(href="/") https://heyday.store 
      
      |)
      |а также уничтожение записей, содержащих ваши персональные
      |данные, в системах обработки персональных данных ИП Азарова Елена Юрьевна,
      |что может сделать невозможным пользование интернет-сервисами ИП Азарова
      |Елена Юрьевна. 

    p.politics__description 
      |Гарантирую, что представленная мной информация является полной, точной и
      |достоверной, а также что при представлении информации не нарушаются
      |действующее законодательство Российской Федерации, законные права и
      |интересы третьих лиц. Вся представленная информация заполнена мною в
      |отношении себя лично. 

    p.politics__description 
      |Настоящее согласие действует в течение всего периода хранения персональных
      |данных, если иное не предусмотрено законодательством Российской Федерации.
  
  //- Button-top
  +buttonTop("politics")