- var navLinks = [{link: '#shipping', text: 'Доставка и оплата'},{link: '/review.html',text: 'Отзывы'},{link: '#contacts',text: 'Контакты'}];

header.header
  .header__container.container

    .mobile-menu
      button.mobile-menu__button
        <svg class="mobile-menu__svg" width="32" height="32" fill="none">
          <ellipse cx="16" cy="8" rx="14" ry="1.5"/>
          <ellipse cx="16" cy="16" rx="14" ry="1.5"/>
          <ellipse cx="16" cy="24" rx="14" ry="1.5"/>
        </svg>
    
    .header__mobile-svg.logotype
      a.logotype__link(href="index.html")
        <svg class="heyday-svg" width="123" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M.17 17V.2h3.41v6.67h11.3V.2h3.41V17h-3.4V9.75H3.59V17H.16zm22.32 0V.2h15.84v2.86H25.9v4.08H38.1V9.8H25.9v4.32h12.43V17H22.49zm27.22 0v-5.42L40.78.2h4.18l6.45 8.38L57.84.2h4.18l-8.9 11.35V17H49.7zm14.54 0V.2h7.9c3.07 0 5.47.72 7.2 2.16 1.73 1.44 2.6 3.52 2.6 6.24 0 2.74-.87 4.82-2.6 6.26-1.73 1.43-4.13 2.14-7.2 2.14h-7.9zm3.41-2.88h4.49c2.05 0 3.65-.48 4.82-1.44a5.03 5.03 0 001.75-4.08c0-1.76-.59-3.12-1.77-4.08-1.17-.98-2.77-1.46-4.8-1.46h-4.49v11.06zM81.87 17L92.09.2h4.13L106.47 17h-3.94l-2.08-3.55H87.87L85.81 17h-3.94zm7.66-6.43h9.26l-4.6-8-4.66 8zm20.5 6.43v-5.42L101.12.2h4.17l6.46 8.38L118.17.2h4.18l-8.9 11.35V17h-3.41z" fill="#7573F3"/>
        </svg>

    nav.header__navigation

      .header__picture-block.logotype
        a.logotype__link(href="index.html")
          <svg class="heyday-svg" width="123"  fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M.17 17V.2h3.41v6.67h11.3V.2h3.41V17h-3.4V9.75H3.59V17H.16zm22.32 0V.2h15.84v2.86H25.9v4.08H38.1V9.8H25.9v4.32h12.43V17H22.49zm27.22 0v-5.42L40.78.2h4.18l6.45 8.38L57.84.2h4.18l-8.9 11.35V17H49.7zm14.54 0V.2h7.9c3.07 0 5.47.72 7.2 2.16 1.73 1.44 2.6 3.52 2.6 6.24 0 2.74-.87 4.82-2.6 6.26-1.73 1.43-4.13 2.14-7.2 2.14h-7.9zm3.41-2.88h4.49c2.05 0 3.65-.48 4.82-1.44a5.03 5.03 0 001.75-4.08c0-1.76-.59-3.12-1.77-4.08-1.17-.98-2.77-1.46-4.8-1.46h-4.49v11.06zM81.87 17L92.09.2h4.13L106.47 17h-3.94l-2.08-3.55H87.87L85.81 17h-3.94zm7.66-6.43h9.26l-4.6-8-4.66 8zm20.5 6.43v-5.42L101.12.2h4.17l6.46 8.38L118.17.2h4.18l-8.9 11.35V17h-3.41z" fill="#7573F3"/>
          </svg>

      ul.header__navigation-list.nav-list
        for item in navLinks
          li.nav-list__item
            a.nav-list__link(href=item.link)=item.text
      
      ul.header__social-list.social-list
        li.social-list__item
          a.social-list__link(href="https://www.facebook.com/heyday.moscow/")
            <svg class="facebook-svg" width="9" height="16" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M8.32 0H6.25C3.92 0 2.41 1.55 2.41 3.94v1.81H.33a.33.33 0 00-.33.33v2.63c0 .18.15.33.33.33H2.4v6.63c0 .18.15.33.33.33h2.72c.18 0 .33-.15.33-.33V9.04h2.44c.18 0 .32-.15.32-.33V6.08a.33.33 0 00-.32-.33H5.79V4.21c0-.74.17-1.11 1.14-1.11h1.4c.17 0 .32-.15.32-.33V.33A.33.33 0 008.32 0z" fill="#7573F3"/>
            </svg>

        li.social-list__item
          a.social-list__link(href="https://www.instagram.com/heyday.moscow/")
            <svg class="instagram-svg" width="16" height="16" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M15.9563 4.704c-.0375-.85-.175-1.4345-.3719-1.941-.2032-.5376-.5157-1.0189-.9252-1.419a3.9375 3.9375 0 00-1.416-.922C12.7338.225 12.1524.0875 11.3023.05 10.4458.0095 10.1739 0 8.0016 0S5.5574.0094 4.704.0469c-.8502.0375-1.4347.175-1.941.3719-.5377.2031-1.019.5157-1.419.9252A3.9392 3.9392 0 00.422 2.76C.225 3.2694.0875 3.8506.05 4.7008.0095 5.5574 0 5.8293 0 8.0016s.0094 2.4442.0469 3.2975c.0375.8502.175 1.4346.372 1.9411a3.9454 3.9454 0 00.9251 1.419 3.938 3.938 0 001.416.922c.5095.197 1.0907.3344 1.941.3719.8532.0376 1.1252.0469 3.2975.0469s2.4442-.0093 3.2976-.0469c.8501-.0375 1.4346-.1749 1.9409-.3719a4.0927 4.0927 0 002.3412-2.341c.1968-.5095.3344-1.0909.3719-1.9411.0374-.8533.0468-1.1252.0468-3.2975s-.0031-2.4442-.0406-3.2975zm-1.4408 6.5326c-.0345.7814-.1657 1.2034-.2751 1.4847a2.6546 2.6546 0 01-1.5191 1.5191c-.2813.1094-.7063.2406-1.4847.2749-.8439.0376-1.097.0469-3.2318.0469-2.1349 0-2.3911-.0093-3.232-.0469-.7814-.0343-1.2034-.1655-1.4847-.2749-.3468-.1282-.6626-.3314-.9189-.5971a2.487 2.487 0 01-.597-.9189c-.1094-.2813-.2407-.7064-.275-1.4846-.0376-.8439-.0468-1.0972-.0468-3.232 0-2.1348.0092-2.391.0469-3.2318.0342-.7814.1655-1.2034.2749-1.4847.1282-.347.3314-.6626.6002-.919a2.4836 2.4836 0 01.9189-.597c.2813-.1093.7064-.2406 1.4847-.275.8439-.0375 1.0971-.0469 3.2318-.0469 2.138 0 2.3911.0094 3.232.0469.7814.0344 1.2033.1657 1.4846.275.3469.1281.6627.3313.9189.597.2657.2594.4689.572.5971.919.1094.2813.2406.7063.2751 1.4847.0374.8439.0468 1.097.0468 3.2318s-.0094 2.3849-.0468 3.2288z" fill="#7573F3"/>
              <path d="M8.0016 3.8914c-2.2691 0-4.1102 1.841-4.1102 4.1102 0 2.2692 1.841 4.1102 4.1102 4.1102 2.2692 0 4.1102-1.841 4.1102-4.1102 0-2.2693-1.841-4.1102-4.1102-4.1102zm0 6.7764c-1.4721 0-2.6662-1.194-2.6662-2.6662s1.1941-2.6662 2.6662-2.6662c1.4722 0 2.6662 1.194 2.6662 2.6662s-1.194 2.6662-2.6662 2.6662zM13.2339 3.7289c0 .5299-.4296.9595-.9596.9595-.5299 0-.9596-.4296-.9596-.9595 0-.53.4297-.9595.9596-.9595.53 0 .9596.4295.9596.9595z" fill="#7573F3"/>
            </svg>

      a.header__phone(href="tel:+79100094784") +7 910 009-47-84

      
    .basket-logo
      a(href="basket.html").basket-logo__link
        <svg class="basket-logo__svg" width="16" height="19" viewBox="0 0 16 19" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path class="basket-logo__svg-backpage" d="M2.5252 6.74452C2.64931 6.02511 3.27333 5.49951 4.00337 5.49951H11.9966C12.7267 5.49951 13.3507 6.02511 13.4748 6.74452L15.1036 16.1868C15.2618 17.1036 14.5558 17.9418 13.6255 17.9418H2.37455C1.44419 17.9418 0.738224 17.1036 0.896378 16.1868L2.5252 6.74452Z" fill="white" stroke="white"/>
          <path class="basket-logo__svg-stripe" d="M10.5 9V3.5C10.5 2.11929 9.38071 1 8 1V1C6.61929 1 5.5 2.11929 5.5 3.5V9" stroke="white" stroke-linecap="round"/>
        </svg>

        
        .basket-logo__count-wrapper
          span.basket-logo__count 10