// Заголовок Формы
.form__wrapper-title {
  position: relative;
}

.form__title {
  margin: 0 0 100px;

  font-family: "Lovelace", sans-serif;
  font-weight: 300;
  font-size: 64px;
  line-height: 80px;
  text-align: center;
  color: var(--main-theme-color);

  @media(--mobile-min-l) and (--mobile-max-l) {
    font-size: 56px;
    line-height: 64px;
  }
 
  @media(--mobile-max-m) {
    margin-bottom: 64px;
    
    font-size: 32px;
    line-height: 40px;
    letter-spacing: -0.01em;
    overflow-wrap: break-word;
  }
}


.form__wrapper-title svg {
  position: absolute;
  bottom: -58px;
  left: 50%;
  transform: translateX(-50%);

  @media(--mobile-max-m) {
    bottom: -44px;
  }
}


.form__wrapper-title svg path {
  fill: var(--main-theme-color);
}

// Инпут обычный для текста
.form__wrapper-input {
  position: relative;
  margin: 0 0 64px;

  @media(--mobile-max-m) {
    margin: 0 0 40px;
  }
}

.list-kek {
  max-height: 264px;
  overflow-y: scroll;
}

.list-kek ymaps {
  width: 100% !important;
  top: 0 !important;
  left: 0 !important;
}

.list-kek .ymaps-2-1-77-search__suggest {
  box-shadow: 0 10px 10px -5px rgba(0,0,0,.2)!important;
  border: none;

  @media(--tablet-max) {
    border-radius: 0px 0px 25px 25px;
  }
}

.list-kek .ymaps-2-1-77-suggest-item {
  width: auto !important;
  padding: 16px 0;
  margin: 0 64px;
  
  font-size: 16px;
  line-height: 24px;
  
  border-bottom: 1px solid var(--border-color);
  vertical-align: middle;
  cursor: pointer;

  @media(--tablet-max) {
    margin: 0;
  }
  
  @media(--mobile-max-m) {
    padding: 8px 16px;

    font-size: 10px;
    line-height: 12px;
  }
}


.list-kek .ymaps-2-1-77-suggest-item:last-child {
  border-bottom: none;
}

.list-kek .ymaps-2-1-77-suggest-item:hover {
  background-color: var(--main-bg-color);
}

.list-kek .ymaps-2-1-77-search__suggest-item {
  padding: 0 24px;

  @media(--tablet-max) and (--mobile-min-l) {
    padding: 0 14px;
  }

  @media(--mobile-max-m) {
    padding: 0;
  }
}


.list-kek .ymaps-2-1-77-search__suggest-item_selected_yes {
  background: none;
}

.item-sas {
  vertical-align: middle;
  padding: 20px 24px;
  border-bottom: 1px solid var(--border-color);

  font-size: 16px;
  line-height: 24px;

  cursor: pointer;

  @media(--mobile-max-m) {
    padding: 8px 16px;

    font-size: 10px;
    line-height: 12px;
  }
}

.item-sas:last-child {
  border-bottom: none;
}

.item-sas:hover {
  background-color: var(--main-bg-color);
}


.form__input {
  position: relative;
  z-index: 1;

  width: 100%;
  height: 34px;
  padding-bottom: 8px;

  border: 0;
  outline: none;
  background: none;
  color: var(--main-theme-color);
  
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.05em;

  @media(--mobile-max-m) {  
    font-size: 16px;
  }
}

#formName {
  text-transform: capitalize;
}

.form__input:focus {
  outline-offset: -2px;
}

.form__wrapper-input .form__input:focus ~ .form__label {
  color: var(--main-theme-color);
  transform: translate(-12%, -70%) scale(0.7);
}

.form__wrapper-input input:valid ~ .form__label {
  transform: translate(-12%, -70%) scale(0.7);
}

.form__input--invalid ~ .form__label {
  transform: translate(-12%, -70%) scale(0.7);
}

.form__input--valid ~ .form__label {
  transform: translate(-12%, -70%) scale(0.7);
}

.form__label {
  position: absolute;
  top: 0;
  left: 0;

  color: #757575;
  font-size: 20px;
  line-height: 34px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  transition: 0.2s ease;

  @media(--mobile-max-m) {  
    font-size: 16px;
  }
}

.form__bar {
  position: absolute;
  left: 0;
  bottom: 0;

  width: 100%;
  height: 1px;
  
  background: var(--color-text);
}

.form__wrapper-input .form__bar:before, 
.form__wrapper-input .form__bar:after {
  content: '';
  position: absolute;
  
  width: 0;
  height: 2px;

  background: var(--main-theme-color);
  transition: .2s ease;
}

.form__input:focus ~ .form__bar::before,
.form__input:focus ~ .form__bar::after {
  width: 50%;
}

.form__input--invalid ~ .form__bar:before,
.form__input--invalid ~ .form__bar:after {
  width: 50%;
  background: var(--error-color);
}

.form__wrapper-input .form__bar::before {
  left: 50%;
}

.form__wrapper-input .form__bar::after {
  right: 50%;
}

.input-close {
  position: absolute;
  z-index: 1;
  right: 0;
  top: 50%;
  
  display: none;
  // display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  padding: 0;

  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
}

.input-close svg {
  fill: var(--dark);
}

.input-close svg ellipse:first-child {
  transform: translate(6px,11px) rotate(-48deg);
}

.input-close svg ellipse:last-child {
  transform: translate(17px,2px) rotate(44deg);
}

// Радио кнопки
.form__wrapper-radio-list {
  display: flex;
  padding: 16px 0;
}

.form__wrapper-radio + .form__wrapper-radio {
  margin-left: 16px;
}

.form__radio {
  position: absolute;
  opacity: 0;
}

.form__radio-label {
  position: relative;
  padding: 16px 22px;

  border: 1px solid transparent;
  box-shadow: 0px 4px 20px transparent;
  border-radius: 50px;

  font-size: 18px;
  line-height: 32px;
  text-transform: none;

  @media(--mobile-max-m) {  
    padding: 14px 15px;

    font-size: 12px;
    line-height: 16px;
  }
}

.form__radio:focus ~ .form__radio-label,
.form__radio:checked ~ .form__radio-label {
  font-weight: 700;
  color: var(--main-theme-color);
  background-color: var(--light-bg);
  border: 1px solid var(--main-theme-color);
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.08);
  border-radius: 50px;
  box-sizing: border-box;
}


// Чекбокс кнопки
.form__wrapper-checkbox-list {
  margin-bottom: 64px;

  @media(--mobile-max-m) {
    margin: 28px 0;
  }
}

.form__wrapper-checkbox {
  position: relative;

  display: block;
  padding-left: 44px;
  margin-bottom: 16px;
  
  font-size: 18px;
  cursor: pointer;
  line-height: 32px;
  user-select: none;
}

@media(--mobile-max-m) {
  .form-to-pay .form__wrapper-checkbox {
    padding-left: 24px;
    margin-bottom: 16px;

    font-size: 12px;
    line-height: 16px;
  }
}

.form__wrapper-checkbox--hide {
  display: none;
}

.form__checkbox {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.form__checkmark {
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 24px;
  border: 2px solid var(--main-theme-color);
}

@media(--mobile-max-m) {
  .form-to-pay .form__checkmark {
    width: 11px;
    height: 11px;
  }
}

.form__wrapper-checkbox .form__checkbox:checked ~ .form__checkmark {
  background-color: var(--main-theme-color);
}

.form__checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.form__wrapper-checkbox .form__checkbox:checked ~ .form__checkmark:after {
  display: block;
}

.form__wrapper-checkbox .form__checkmark:after {
  content: url("/assets/img/icons/check.svg");
  top: 50%;
  left: 50%;
  transform: translate(-50%,-40%);
}

@media(--mobile-max-m) {
  .form-to-pay .form__wrapper-checkbox .form__checkmark:after {
    transform: translate(-50%,-40%) scale(0.8);
  }
}


// ТекстАреа
.form__wrapper-textarea {
  position: relative;
}

.form__wrapper-textarea .form__label {
  transform: translate(-12%,-70%) scale(.7);
}

.form__textarea {
  resize: none;
}

.form__wrapper-controls {
  display: flex;
  justify-content: center;
}

.form__button {
  width: auto;
  padding: 16px 32px;
}



// FORM-PAY

@media(--mobile-max-m) {
  .form-to-pay .form__wrapper {
    margin-bottom: 40px;
  }

  .form-to-pay .form__wrapper:last-child {
    margin-bottom: 0;
  }
}

.form-to-pay .form__wrapper-title {
  margin-bottom: 40px;

  @media(--mobile-max-m) {
    margin-bottom: 16px;
  }
}

.form-to-pay .form__title {
  margin-bottom: 0;

  font-size: 40px;
  line-height: 56px;
  text-align: left;

  @media(--mobile-max-m) {
    font-size: 24px;
    line-height: 32px;
  }
}

.form-to-pay .form__wrapper-input-list {
  display: flex;
  flex-basis: 100%;
  flex-wrap: wrap;
}

.form-to-pay .form__wrapper-input-list--hide .form__wrapper-input {
  display: none;
}


.form__wrapper-title + .form__wrapper-input-list {
  margin-top: 56px;

  @media(--mobile-max-m) {
    margin-top: 24px;
  }
}

.form__wrapper-radio-list + .form__wrapper-input-list {
  margin-top: 56px;

  @media(--mobile-max-m) {
    margin-top: 24px;
  }
}

.form__route-additionally  + .form__wrapper-input-list {
  margin-top: 56px;

  @media(--mobile-max-m) {
    margin-top: 24px;
  }
}

.form-to-pay .form__label {
  font-size: 16px;
  line-height: 24px;

  @media(--mobile-max-m) {
    font-size: 10px;
    line-height: 16px;
  }
}

.form-to-pay .form__wrapper-input {
  flex-basis: 100%;

  @media(--mobile-max-m) {
    margin-bottom: 28px;
  }
}

@media(--mobile-max-m) {
  .form-to-pay .form__wrapper-input:last-child {
    margin-bottom: 0;
  }  
}

.form-to-pay .form__input {
  height: 100%;
}  

.form-to-pay .form__wrapper-input--half {
  flex-basis: calc(50% - 20px);

  @media(--mobile-max-m) {
    flex-basis: 100%;
  }
}


.form-to-pay .form__wrapper-input--half:nth-child(2n) {
  flex-basis: calc(50% - 20px);
  margin-left: 40px;

  @media(--mobile-max-m) {
    flex-basis: 100%;
    margin-left: 0;
  }
}

@media(--mobile-max-m) {
  .form-to-pay .form__wrapper-input--half:last-child {
    margin-bottom: 0;
  }
}

.form-to-pay .form__wrapper-route {
  display: flex;
  justify-content: space-between;
  flex-basis: 100%;

  @media(--mobile-max-m) {  
    flex-direction: column;
  }
}

.form-to-pay .form__wrapper-route--hide {
  display: none;
}

.form-to-pay .form__wrapper-radio-list + .form__wrapper-route {
  margin: 32px 0;

  @media(--mobile-max-m) {  
    margin: 24px 0;
  }
}

.form-to-pay  .form__input-route-wrap {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;

  font-size: 16px;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: 0.03em;

  color: var(--input-text-color);

  @media(--mobile-max-m) {  
    margin-bottom: 24px;

    font-size: 12px;
    line-height: 16px;
  }
}


.form-to-pay .form__route {
  background-color: transparent;
  border: none;
  
  @media(--mobile-max-m) {  
    margin-bottom: 8px;
  }
}


.form-to-pay .form__route-button {
  margin-left: 16px;
  background-color: var(--light-bg);
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);

  @media(--mobile-max-m) {  
    margin: 0;
  }
}

@media (--mobile-max-m) {
  .route-map__controls .form__route-button {
    font-size: 14px;
    line-height: 18px;
  }
}

@media(--mobile-min-m) and (--mobile-max-m) {  
  .route-map__controls .form__route-button {
    height: 56px;
  }
}

@media(--mobile-max-s) {  
  .route-map__controls .form__route-button {
    height: 40px;
  }
}

.form-to-pay .form__wrapper-pickup {
  display: flex;
  flex-wrap: wrap;
  margin: 32px 0;
}

.form-to-pay .form__wrapper-pickup--hide {
  display: none;
}


.form__wrapper-pickup .map__address-wrapper,
.form__wrapper-pickup .map__time-wrapper {
  flex-basis: calc(50% - 8px);

  @media(--mobile-max-m) {
    flex-basis: 100%;
  }
}


.form__wrapper-pickup .map__address-wrapper {
  margin-right: 8px;

  @media(--mobile-max-m) {
    margin-right: 0;
  }
}


.form__wrapper-pickup .map__time-wrapper {
  margin-left: 8px;

  @media(--mobile-max-m) {
    margin-left: 0;
  }
}


.form__wrapper-pickup .map__metro-wrapper {
  flex-basis: 100%;
}


.form-to-pay .form__route-additionally {
  font-size: 16px;
  font-weight: 600;
  line-height: 32px;
  color: var(--input-text-color);

  @media(--mobile-max-m) {  
    font-size: 12px;
    line-height: 16px;
  }
}

.form-to-pay .form__route-additionally--hide {
  display: none;
}


// 
.form__wrapper-date-list {
  display: flex;
  margin-bottom: 96px;

  @media(--mobile-max-m) {
    flex-direction: column;
    margin-bottom: 0;
  }
}


.form__block-date {
  flex-basis: calc(50% - 8px);

  @media(--mobile-max-m) {
    flex-basis: 100%;
    margin-bottom: 16px;
  }
}


.form__block-time {
  flex-basis: calc(50% - 8px);
  display: flex;
  flex-direction: column;
  margin-left: 16px;

  @media(--mobile-max-m) {
    flex-basis: 100%;
    margin-left: 0;
  }
}

.form__wrapper-time {
  position: relative;
  display: flex;
  margin-bottom: 32px;
}

.form__block-date,
.form__block-time {
  position: relative;
  display: flex;
  height: 34px;
}

.form__date,
.form__time {
  border: none;
  background: transparent;
  width: calc(100% - 24px);
  height: auto;
}

.form__date::placeholder,
.form__time::placeholder {
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
}

.form__date:disabled,
.form__time:disabled { 
  color: var(--input-disabled);
}

.form__date:disabled::placeholder,
.form__time:disabled::placeholder { 
  color: var(--input-disabled);
}

.form__date:disabled ~ .form__bar,
.form__time:disabled ~ .form__bar {
  background-color: var(--input-disabled);
}

.form__date-button,
.form__time-button {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 24px;
  height: 34px;

  border: none;
  background-color: transparent;
}

// form-wrapper-pays-icon

.form-to-pay .form__wrapper-pays {
  display: flex;

  @media(--tablet-max) {
    flex-wrap: wrap;
  }
}

.form-to-pay .form__wrapper-radio-list + .form__wrapper-pays {
  margin-top: 32px;

  @media(--mobile-max-m) {
    margin-top: 24px;
  }
}

.form-to-pay .form__pay {
  margin: 12px;
}
