block variableReviews
  - 
    var advantagesList = [
      {
        svg: 
        `<svg width="50" height="50" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M16.24 31.6215C15.8975 31.7114 15.6054 31.931 15.4281 32.2317L14.3065 34.1343L22.825 38.9512L23.9465 37.0486C24.1238 36.7477 24.1719 36.3903 24.0801 36.0548L23.0096 32.1418L20.2353 30.573L16.24 31.6215Z"/>
          <path d="M40.9739 2.32435C41.2607 0.510395 39.1195 -0.700303 37.659 0.449992L19.1516 15.0266C18.4953 15.5435 18.228 16.4006 18.4773 17.1885L19.493 20.3983C19.5947 20.7701 19.8431 21.0871 20.1834 21.2796L24.4559 23.6956L21.3867 28.9024L23.9534 30.3538L27.0225 25.1471L31.2948 27.5631C31.6351 27.7556 32.0396 27.8078 32.4193 27.7082L35.7655 26.9645C36.5868 26.782 37.211 26.1267 37.3399 25.3115L40.9739 2.32435Z"/>
          <path d="M8.17939 44.528C7.81011 45.1544 8.02924 45.9554 8.66886 46.3171L14.8711 49.8243C15.5106 50.1859 16.3285 49.9714 16.6978 49.3449L21.7993 40.6909L13.2808 35.8739L8.17939 44.528Z" />
        </svg>`,
        description: `Наши флористы – настоящие мастера цветочного дела`,
      },
      {
        svg : 
        `<svg width="50" height="50" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g clip-path="url(#clip0)">
              <path d="M24.9034 36.6867C29.2554 36.6867 32.7834 33.1587 32.7834 28.8067C32.7834 24.4547 29.2554 20.9268 24.9034 20.9268C20.5514 20.9268 17.0234 24.4547 17.0234 28.8067C17.0234 33.1587 20.5514 36.6867 24.9034 36.6867Z" fill="#7573F3"/>
              <path d="M36.4132 8.86419L35.9096 6.34619C35.6378 4.98675 34.4342 4 33.0478 4H16.7619C15.3756 4 14.1719 4.98675 13.9001 6.34619L13.3965 8.86419H36.4132Z" fill="#7573F3"/>
              <path d="M45.4305 11.7822C42.0039 11.7822 5.98042 11.7822 4.37679 11.7822C1.96289 11.7822 -0.000976562 13.7461 -0.000976562 16.16V41.4538C-0.000976562 43.8677 1.96289 45.8316 4.37679 45.8316H45.4305C47.8445 45.8316 49.8083 43.8677 49.8083 41.4538V16.16C49.8083 13.7461 47.8445 11.7822 45.4305 11.7822ZM12.4513 20.9269H7.78173C6.97583 20.9269 6.32247 20.2735 6.32247 19.4676C6.32247 18.6617 6.97583 18.0084 7.78173 18.0084H12.4513C13.2572 18.0084 13.9106 18.6617 13.9106 19.4676C13.9106 20.2735 13.2572 20.9269 12.4513 20.9269ZM24.9037 39.6054C18.9493 39.6054 14.1052 34.7612 14.1052 28.8069C14.1052 22.8525 18.9493 18.0084 24.9037 18.0084C30.858 18.0084 35.7022 22.8525 35.7022 28.8069C35.7022 34.7612 30.858 39.6054 24.9037 39.6054Z" fill="#7573F3"/>
            </g>
          <defs>
            <clipPath id="clip0">
              <rect width="50" height="50" fill="white"/> 
            </clipPath>
          </defs>
        </svg>`,
        description: `Фото букетов перед отправкой, чтобы вы были уверены, что все в порядке`,
      },
      {
        svg: `assets/img/icons/advantagesList/3.svg`,
        alt: ``,
        description: `Возможность создавать букеты самостоятельно всего за пару минут`,
      },
      {
        svg: `assets/img/icons/advantagesList/4.svg`,
        alt: ``,
        description: `Быстрая доставка заказов курьером по Москве и области`,
      },
      {
        svg: `assets/img/icons/advantagesList/5.svg`,
        alt: ``,
        description: `Использование особенной упаковки для доставки — мы гарантируем великолепный внешний вид всем цветам из нашего магазина!`,
      },
      {
        svg: `assets/img/icons/advantagesList/6.svg`,
        alt: ``,
        description: `Смс информирование на всех этапах заказа`,
      },
      {
        svg: `assets/img/icons/advantagesList/7.svg`,
        alt: ``,
        description: `Индивидуальный подход с учетом всех пожеланий клиента`,
      },
      {
        svg: `assets/img/icons/advantagesList/8.svg`,
        alt: ``,
        description: `Мы используем только свежие цветы, поэтому гарантируем, что они будут радовать вас долгое время`,
      },
      {
        svg: `assets/img/icons/advantagesList/9.svg`,
        alt: ``,
        description: `Огромный выбор сортов, а также широкий ассортимент готовых композиций`,
      },
      {
        svg: `assets/img/icons/advantagesList/10.svg`,
        alt: ``,
        description: `Оформление интерьеров  для проведения торжественных мероприятий`,
      },
      {
        svg: `assets/img/icons/advantagesList/11.svg`,
        alt: ``,
        description: `Искренне радостные эмоции получателя`,
      },
      {
        svg: `assets/img/icons/advantagesList/12.svg`,
        alt: ``,
        description: `Работа с корпоративными клиентами`,
      },
      
    ]

    var reviewsList = [
      {

      },
      {

      },
    ]